.main-container{
  // background-color: bisque;
  padding-top: 10rem;
  text-align: left;
  padding-left: 5rem;
  height: 100vh;
}

.para{
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 2rem;
}
.job-profile{
  color: rgb(82, 99, 235);
  font-weight: 600;
  font-size: 22px;
}

.current-workspace{
  padding-top: 2rem;
}